<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="container mt-5">
    <h2>User List</h2>
  
    <div *ngIf="hasPermission">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>can_create_users</th>
            <th>can_read_users</th>
            <th>can_update_users</th>
            <th>can_delete_users</th>
            <th *ngIf="enableDelete();">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>
              <span *ngIf="enableClick(); else notClickable" (click)="redirectToUserDetails(user)" style="cursor: pointer; text-decoration: underline; color: blue">{{ user.email }}</span>
              <ng-template #notClickable>{{ user.email }}</ng-template>
            </td>           
            <td>{{ user.permissions | permissionCheck: 'can_create_users' }}</td>
            <td>{{ user.permissions | permissionCheck: 'can_read_users' }}</td>
            <td>{{ user.permissions | permissionCheck: 'can_update_users' }}</td>
            <td>{{ user.permissions | permissionCheck: 'can_delete_users' }}</td>
            
            <td *ngIf="enableDelete();" >
              <button (click)="deleteUser(user)" type="button" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="!hasPermission" class="alert alert-danger">
      <p>Error: You don't have permission for this action.</p>
    </div>
  </div>
  