<a [ngStyle]="{'color': cleaner.active ? 'inherit' : 'gray'}" class="card list-group list-group-flush" role="button" style="cursor: pointer; text-decoration: none;">
    <div (click)="toggleCollapse()" class="card-header d-flex justify-content-between" [id]="'heading' + cleaner.id">
        <p class="mt-auto mb-auto" style="font-size: larger;">
          {{ cleaner.name }}
        </p>
        <button class="btn btn-danger" *ngIf="canRemove();" [disabled]="!cleaner.active" (click)="remove($event)">Remove</button>
    </div>
  
    <div [id]="'collapse' + cleaner.id" class="collapse" [attr.aria-labelledby]="'heading' + cleaner.id" [ngStyle]="{'cursor': cleaner.active ? 'pointer' : 'not-allowed', 'pointer-events': cleaner.active ? 'auto' : 'none', 'color': cleaner.active ? 'inherit' : 'gray'}">
        <div class="card-body">
            <p class="card-text">ID: {{ cleaner.id }}</p>
            <p class="card-text">Status: {{ cleaner.status }}</p>
            <p class="card-text">Active: {{ cleaner.active }}</p>
            <p class="card-text">Number of Cycles: {{ cleaner.numOfCycles }}</p>
          
            <div class="form-group">
              <label for="operationSelect">Operation:</label>
              <select [disabled]="!cleaner.active" class="form-control" [(ngModel)]="operation" id="operationSelect">
                <option *ngIf="canStart();" value="start">Start</option>
                <option *ngIf="canStop();" value="stop">Stop</option>
                <option *ngIf="canDischarge();" value="discharge">Discharge</option>
              </select>
            </div>
          
            <div class="form-check mt-3">
              <input class="form-check-input" type="checkbox" value="" [(ngModel)]="scheduleEnabled" id="scheduleCheckbox">
              <label class="form-check-label" for="scheduleCheckbox">Schedule</label>
            </div>
          
            <div *ngIf="scheduleEnabled" class="form-group mt-3">
              <label for="dateTimePicker">Select Date & Time:</label>
              <input type="datetime-local" [(ngModel)]="selectedDateTime" class="form-control" id="dateTimePicker">
            </div>

            <button (click)="submit()" class="btn btn-primary mt-3" [disabled]="!cleaner.active">Submit</button>
          </div>
          
    </div>
  </a>
  