<div class="container mt-5">
    <h2>Add User</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name:</label>
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name:</label>
        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
      </div>
      <div class="form-check" *ngFor="let role of roleService.allRoles">
        <input class="form-check-input" type="checkbox" [id]="role.role" [name]="role.role" [ngModel]="checkPermission(role)" (ngModelChange)="togglePermission($event, role)">
        <label class="form-check-label" [for]="role.role">{{ role.role }}</label>
      </div>
      <button type="submit" class="btn btn-primary">Add User</button>
    </form>
  </div>
  