<div class="container">
    <h2 class="text-center mt-3">Error Messages</h2>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="table-responsive">
          <table class="table table-bordered mt-3">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Time</th>
                <th>Operation</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let errorMessage of errorMessages">
                <td>{{ errorMessage.id }}</td>
                <td>{{ errorMessage.time | date: 'medium' }}</td>
                <td>{{ errorMessage.operation }}</td>
                <td>{{ errorMessage.message }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  